<!-- List of Input Items -->
<ion-list *ngFor="let i of reservation">
  <ion-item >
    <ion-grid>
      <ion-row class="fonte">  
        <ion-col>
         {{i.room.name}}
        </ion-col>
        <ion-col>
          Data: {{i.date.toLocaleDateString()}}
        </ion-col>
      </ion-row>
      <ion-row class="fonte">
        <ion-col>
          Autor: {{i.author}}
        </ion-col>
        <ion-col>
          Periodo: 3h 30min
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>