<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reservas pendentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="noData == true; elseHasData">

  <h1>Não há reservas pendentes</h1>

</ion-content>
<ng-template #elseHasData>
  <ion-content>
    <ion-list *ngFor="let i of items">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <strong>{{i.booking.room.name}}</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            Lugares: {{i.booking.room.places}}
          </ion-col>
          <ion-col size="6">
            <p *ngIf="i.booking.room.projector; else elseProjetor">
              Projetor: Sim
            </p>
            <ng-template #elseProjetor>Projetor: Não</ng-template>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            De:
          </ion-col>
          <ion-col size="4">
            {{i.booking.date | date : 'HH:mm'}}
          </ion-col>
          <ion-col size="2">
            até
          </ion-col>
          <ion-col size="4">
            {{i.booking.checkout | date : 'HH:mm'}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="Disapprove()" color="danger">Desaprovar</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="Approve()" color="success">Aprovar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>
  </ion-content>
</ng-template>