<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      App Name
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="padding" scroll-y="true" ion-toast-controller>
  <ion-slides pager="true" [options]="slideOpts" class="swiper-container">
    <ion-slide>
      <!-- <app-empty-room></app-empty-room> -->
      <ion-content>
        <app-booked-room></app-booked-room>
      </ion-content>
    </ion-slide>

    <ion-slide>
      <!-- <img src="./slide-2.png"/> -->
      <!-- <ion-content> -->
        <app-main-page [notReserved]="notReserved" [reserved]="reserved"></app-main-page>
      <!-- </ion-content> -->
    </ion-slide>

    <ion-slide>
      <ion-content>
        <app-empty-room ></app-empty-room>
      </ion-content>
    </ion-slide>

  </ion-slides>
</ion-content>