<!-- List of Input Items -->
<!-- <h2>Reservadas</h2> -->
<ion-item>
  <ion-label>Reservas do dia</ion-label>
  <ion-datetime [(ngModel)]="selectedDate" min="{{today}}" max="{{nextThirty}}" value="{{today}}"
    [pickerOptions]="customPickerOptions" displayFormat="DD/MM/YYYY" placeholder="Selecione o dia"
    (ionChange)="onChange($event)">
  </ion-datetime>
</ion-item>
<ion-list *ngFor="let i of bookings">
  <ion-item>
    <ion-grid>
      <ion-row class="fonte">
        <ion-col>
          {{i.room.name}}
        </ion-col>
        <ion-col>
          Data: {{i.date}}
        </ion-col>
      </ion-row>
      <ion-row class="fonte">
        <ion-col>
          Autor: {{i.author}}
        </ion-col>
        <ion-col>
          Periodo: 3h 30min
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>