<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>room-booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h4> Sala selecionada: {{selectedRoom.name}} </h4>
  </div>
  <div>
    <!-- <ion-label> -->
    Dia:
    <ion-datetime [(ngModel)]="selectedDate" min="{{today}}" max="{{maxDate}}" displayFormat="DD/MM/YYYY"
      placeholder="Selecione o dia" cancelText="cancelar" doneText="selecionar" (ionChange)="onSelectDate()">
    </ion-datetime>
    <!-- </ion-label> -->
  </div>
  <ion-grid>
    <ion-label>Periodo: </ion-label>
    <ion-row>
      <ion-col size="5">
        <ion-datetime [(ngModel)]="selectedInicialTime" showBackdrop="true"
         displayFormat="HH:mm" placeholder="Hora de inicio"
          minuteValues="0,15,30,45" [hourValues]="customHours" cancelText="cancelar" doneText="selecionar">
          <!-- (ionChange)="onSelectInitialTime()"> -->
        </ion-datetime>
      </ion-col>
      <ion-col size="2" class="align-self-start">
        até
      </ion-col>
      <ion-col size="5">
        <ion-datetime [(ngModel)]="selectedFinalTime" displayFormat="HH:mm" placeholder="Hora termino"
          minuteValues="0,15,30,45" [hourValues]="customHours" cancelText="cancelar" doneText="selecionar">
          <!-- (ionChange)="onSelectFinalTime()"> -->
        </ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>

  <small>*Só serão mostrados os horarios disponiveis</small>
  
  <div>
    <ion-label>Repetir</ion-label>
    <ion-checkbox></ion-checkbox>
  </div>
  <ion-button (click)="sendBooking()">Confirmar</ion-button>

  <ion-content>
    <ion-list *ngFor="let i of bookingList">
      <ion-item *ngIf="i.room.name == selectedRoom.name && myCompareDate(i)">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              {{i.date | date : 'HH:mm'}}
            </ion-col>
            <ion-col size="9">
              Autor: {{i.author}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>