<ion-header>
  <ion-toolbar>
    <!-- <ion-button color="light" (click)="dismissRegister()">Close</ion-button> -->
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
      <ion-label position="floating">Nome completo</ion-label>
      <ion-input ngModel name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input ngModel name="cpf" maxlength="15"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apelido</ion-label>
      <ion-input ngModel name="nickname" maxlength="25"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Cargo</ion-label>
      <ion-select interface="popover" ngModel name="accessLevel" placeholder="Selecione o cargo">
        <ion-select-option value="1">Administrador</ion-select-option>
        <ion-select-option value="4">Comum</ion-select-option>
        <ion-select-option value="3">Gerente</ion-select-option>
        <ion-select-option value="2">Presidente</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Aprovação Imediata?</ion-label>
      <ion-checkbox color="success" checked="false" ngModel name="immediatlyApprovation"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" ngModel name="password" minlength="5"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" color="primary">Registar</ion-button>
  </form>
  <!-- <p class="ion-text-center">Already have a account?</p> -->
  <!-- <ion-button expand="full" color="secondary" (click)="loginModal()">Login</ion-button> -->
</ion-content>